html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(243, 215, 154);
    text-align: center;
    width: 100%;
    height: 15%;
}
#logo{
    position: relative;
    top: 13%;
    font-size: 54px;
} 
body {
    position: relative;
    font-style: italic;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}
h1 {
    text-align: center;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    transition-duration: 0.4s;
 }
ul{
    list-style-type: none; 
}
#root {
    background-color: rgb(216, 240, 240);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#main-menu{
    position: relative;
    text-align: center;
    width: 100%;
    margin:0px;
    padding: 0px;
    font-size: 44px;

}
#main-content{
    position: relative;
    text-align: center;
    width: 100%;
    margin:0px;
    padding: 0px;
    font-size: 18px;
}
#main-content-center{
    position: relative;
    left: 25%;
     width: 75%;
    text-align: left;
}
#Write{
    background: rgb(241, 199, 159);
    border: none;
    height:25px;
    font-size: large;
    text-align: center;
}
#username{
    background: rgb(241, 199, 159);
    border: none;
    height: 25px;
    font-size: large;
    text-align: center;
}
#best-score>li{
    position: relative;
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#game-wraper {
    margin: 0px;
    padding: 0px;
    position: relative;
    border: solid black 5px;
    background-color: rgb(202, 230, 238);
}
#leftButtid{
    display: none;
}
#rightButtid{
    display: none;
}
#jumpButtid{
    display: none;
}

@media (max-width: 1366px) {
    #best-score>li{
        font-size: 14px;
    }
    #main-content{
        font-size: 14px;
    }
    h1 {
        font-size: 18px;
    }
    #logo{
        font-size: 34px;
    } 
    header{
        height: 10%;
    }
    #main-menu{
        font-size: 24px;
    }
    #leftButtid{
        display: block ;
    }
    #rightButtid{
        display: block ;
    }
    #jumpButtid{
        display: block ;
    }
    

}
@media (max-height: 640px) {
    #best-score>li{
        font-size: 14px;
    }
    #main-content{
        font-size: 14px;
    }
    h1 {
        font-size: 18px;
    }
    #logo{
        font-size: 34px;
    } 
    header{
        height: 10%;
    }
    #main-menu{
        font-size: 24px;
    }
    #leftButtid{
        display: block ;
    }
    #rightButtid{
        display: block ;
    }
    #jumpButtid{
        display: block ;
    }
    

}

@media (max-height: 340px) {
    #best-score>li{
        font-size: 14px;
    }
    #main-content{
        font-size: 14px;
    }
    h1 {
        font-size: 18px;
    }
    #logo{
        font-size: 34px;
    } 
    header{
        height: 20%;
    }
    #main-menu{
        font-size: 24px;
    }
    #leftButtid{
        display: block ;
    }
    #rightButtid{
        display: block ;
    }
    #jumpButtid{
        display: block ;
    }
    

}