html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header{
    background-color: rgb(243, 215, 154);
    text-align: center;
    width: 100%;
    height: 15%;
}
#logo{
    position: relative;
    top: 13%;
    font-size: 54px;
    /* text-align: center; */
    /* left: 37%; */
    /* background-color: burlywood; */
    /* width:  440px; */
    /* margin:0px;
    padding: 0px;*/
} 
body {
    position: relative;
    font-style: italic;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    
}
h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    transition-duration: 0.4s;
 }
ul{
    list-style-type: none; 
}

#root {
    background-color: rgb(216, 240, 240);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
/* #root-body { */
    /* background-color: aqua;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: relative; */
/* } */
/*  */
#main-menu{
    position: relative;
    text-align: center;
    width: 100%;
    margin:0px;
    padding: 0px;
    font-size: 44px;
    /* background-color: burlywood; */
    /* top: 13%;
    left: 33%; */
    /* width:  440px; */
}
 #main-menu>ul  {
       /* list-style-type: none; */
       /* margin:0px;
       padding: 0px;
       width: 100%; */
}
#main-menu>ul>li{
    
    /* width: 100%;
    height: auto; */
    /* border: black solid; */
    /* margin:0px;
    padding: 0px; */
    /* position: relative;
    text-align: center; */
    /* font-size: 44px; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

}

/* #main-menu>ul>li>a:hover{
   color: red;
   transition-duration: 0.4s;
} */
/* #main-content>h1{
    text-align: center;
} */
#main-content{
    position: relative;
    text-align: center;
    width: 100%;
    margin:0px;
    padding: 0px;
    font-size: 18px;
}
#main-content-center{
    position: relative;
    left: 25%;
    text-align: left;
}


#main-content>ul  {
       /* list-style-type: none;
       position: relative; */
       /* margin:0px;
       padding: 0px;
       width: 100%; */
}
#main-content>ul>li{
    /* width: 100%; */
    /* height: auto;
    position: relative;
    text-align: center;
    font-size: 44px;
    border: black solid; */
    /* margin:0px;
    padding: 0px; */

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

}

/* #main-content>ul>li>a:hover{
   color: red;
   transition-duration: 1s;
} */
#Write{
    background: rgb(241, 199, 159);
    border: none;
    height:25px;
    font-size: large;
    text-align: center;
}
#username{
    background: rgb(241, 199, 159);
    border: none;
    height:25px;
    font-size: large;
    text-align: center;

}
/* #main-content>input[type=button]{
    position: relative;
    background-color: burlywood;
    top: 15%;
    left: 33%;
    width:  440px;
    margin:0px;
    padding: 0px;
}
#main-content>input[type=text]{
    position: relative;
    background-color: burlywood;
    top: 15%;
    left: 33%;
    width:  440px;
    margin:0px;
    padding: 0px;
} */


#best-score>li{
    width: 100%; 
    height: auto; 
    /* border: black solid; */
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#game-name{
    left: 20%;  
}




/* 
.winner-list{
    position: relative;
    background-color: beige;
    padding: 10px;
    margin: 0px;
    width: 110%;
    height: 45px;

}
.winners{
    position: absolute;
    top:15%;
    left: 30%;
    padding: 0px;
} */

#game-wraper {
    /* top: 100px;
    left: 100px; */
    /* width: 300px;
    height: 450px; */
    margin: 0px;
    padding: 0px;
    position: relative;
    border: solid black 5px;
    /* overflow: hidden; */
    background-color: rgb(202, 230, 238);

}